{% load static %}

<div class="pam_2 vabout2 ">
<div class="d0">

		<div class="d2">Производство</div><br>



Наши мастерские оснащены современным оборудованием, что позволяет нам работать с натуральным камнем на высочайшем уровне. Мы предлагаем широкий выбор материалов, включая гранит из Бельгии, Индии, Швеции и Китая. Помимо этого, у нас также доступны песчаник, мрамор, валуны и базальт.
Все надгробные надписи выполняются вручную нашими опытными каменщиками с учетом индивидуальных пожеланий заказчиков. Вы можете выбрать выпуклые или углубленные буквы, а также бронзовые и другие металлические варианты, которые профессионально интегрируются в камень. Кроме того, мы с удовольствием создадим для вас украшения, такие как розы, кресты, мотивы деревьев и другие элементы декора.
 	</div></div>





<div class="block4" id="slider1">
  <div class="sliding-block" id="slides1">
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/1.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/2.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/3.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
  </div>

  <div class="kn0">
    <a class="block4_3" id="b1_slider1" onclick="goToSlide(0, this, 'slides1')">
      <div class="knd act"></div>
    </a>
    <a class="block4_3" id="b2_slider1" onclick="goToSlide(1, this, 'slides1')">
      <div class="knd"></div>
    </a>
    <a class="block4_3" id="b3_slider1" onclick="goToSlide(2, this, 'slides1')">
      <div class="knd"></div>
    </a>
  </div>
</div>



<div class="pam_2 vabout2 ">
<div class="d0">

		<div class="d2">На кладбище</div><br>



Наши мастерские оснащены современным оборудованием, что позволяет нам работать с натуральным камнем на высочайшем уровне. Мы предлагаем широкий выбор материалов, включая гранит из Бельгии, Индии, Швеции и Китая. Помимо этого, у нас также доступны песчаник, мрамор, валуны и базальт.
Все надгробные надписи выполняются вручную нашими опытными каменщиками с учетом индивидуальных пожеланий заказчиков. Вы можете выбрать выпуклые или углубленные буквы, а также бронзовые и другие металлические варианты, которые профессионально интегрируются в камень. Кроме того, мы с удовольствием создадим для вас украшения, такие как розы, кресты, мотивы деревьев и другие элементы декора.
 	</div></div>

<div class="block4" id="slider2">
  <div class="sliding-block" id="slides2">
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/4.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/5.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/6.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
  </div>

  <div class="kn0">
    <a class="block4_3" id="b1_slider2" onclick="goToSlide(0, this, 'slides2')">
      <div class="knd act"></div>
    </a>
    <a class="block4_3" id="b2_slider2" onclick="goToSlide(1, this, 'slides2')">
      <div class="knd"></div>
    </a>
    <a class="block4_3" id="b3_slider2" onclick="goToSlide(2, this, 'slides2')">
      <div class="knd"></div>
    </a>
  </div>
</div>


<div class="pam_2 vabout2 ">
<div class="d0">

		<div class="d2">В офисе</div><br>



Наши мастерские оснащены современным оборудованием, что позволяет нам работать с натуральным камнем на высочайшем уровне. Мы предлагаем широкий выбор материалов, включая гранит из Бельгии, Индии, Швеции и Китая. Помимо этого, у нас также доступны песчаник, мрамор, валуны и базальт.
Все надгробные надписи выполняются вручную нашими опытными каменщиками с учетом индивидуальных пожеланий заказчиков. Вы можете выбрать выпуклые или углубленные буквы, а также бронзовые и другие металлические варианты, которые профессионально интегрируются в камень. Кроме того, мы с удовольствием создадим для вас украшения, такие как розы, кресты, мотивы деревьев и другие элементы декора.
 	</div></div>


<div class="block4" id="slider3">
  <div class="sliding-block" id="slides3">
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/7.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/8.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
    <div class="block4_0">
      <div class="block4_1">
        <p class="imgvpr" style="background-image: url('/static/main/img/about/9.webp');"></p>
      </div>
      <div class="block4_2">
        Промышленное производство памятников.
        Как обрезаются необработанные камни на нашем производстве.
      </div>
    </div>
  </div>

  <div class="kn0">
    <a class="block4_3" id="b1_slider3" onclick="goToSlide(0, this, 'slides3')">
      <div class="knd act"></div>
    </a>
    <a class="block4_3" id="b2_slider3" onclick="goToSlide(1, this, 'slides3')">
      <div class="knd"></div>
    </a>
    <a class="block4_3" id="b3_slider3" onclick="goToSlide(2, this, 'slides3')">
      <div class="knd"></div>
    </a>
  </div>
</div>

<script src="{% static 'main/js/script.js' %}"></script>

<script>
function goToSlide(index, button, sliderId) {
    const slides = document.getElementById(sliderId);
    const offset = -index * 60; // Calculate offset in vw
    slides.style.transform = `translateX(${offset}vw)`;

    // Удаляем класс 'act' у всех кнопок слайдера
    const buttons = button.closest('.block4').querySelectorAll('.knd');
    buttons.forEach(btn => btn.classList.remove('act'));

    // Добавляем класс 'act' к <div> внутри нажатой кнопки
    button.querySelector('.knd').classList.add('act');
}
</script>
