{% extends 'main/base.html' %}
 {% block content %}
{% load static %}
<div class="pam_2">
	<div class="d1"><div>О компании</div> <hr class="hr1"></div><br><br>
	



<div class="gr1">

	<div>
	<div class="d2">Слияние мастерства и искусства офомления памятников</div><br>
	<p>
        
        Наша фирма объединяет традиции установки памятников с доступными ценами.  
        Мы используем материалы, которые доставляются напрямую из Индии и Китая.  
    

		
        Специально обученная команда профессионалов обрабатывает памятники и подготавливает их для установки.  
        Мы предлагаем эксклюзивный подход к каждому клиенту, обеспечивая высокое качество при минимальных затратах.  
    </p>
	
	</div>


	<div class="pimg firm_img"></div>


</div>

<div class="d0">
		
		<div class="d2">Наши сотрудники</div><br>
		
	

Наша комманда состоит из высококвалифицированных сотрудников. Каждый памятник подписывается индивидуально по желанию клиента, мы владеем различной техникой подписывания памятника. И все это по низким ценам.

Будь то розы , свечи или какой либо другой орнамент, наша комманда выполнит его по вашему усмотрению.
 	</div></div>




<div class="block3 block3back vabout">

		<div class="block3_1 block32"> <p>Что вы можете ожидать от нас:</p><br>




</div>





<div class="block3_1 block32">

<ul>
  <li>Подробная консультация</li>
  <li>Доступные цены</li>
  <li>Высококачественные материалы</li>
  <li>Большой выбор надгробий и необработанных плит на нашей выставке</li>
  <li>Надгробные плиты также для урн-могил</li>
  <li>Оформление всех заявок и формальностей</li>
  <li>Мы доставляем быстро, просто и недорого</li>
</ul>
</div></div>






		
	


	 {% include 'main/Kn1/content.html' %}
<br><br>


	 



        {% endblock %}