
{% extends 'main/base.html' %}

 {% block content %}
        {% load static %}

	

  
	
	
	
	
	
	

	<div class="about_mo">
		<div class="block3 block3back "> 
		Отвечая последним запросам наших клиентов мы вводим вариант получения полного комплекса наших услуг без выезда клиента к нам в офис.















</div>
	
		<div class="block3 block3back about_mo_cor"> 
		
		<div class="block3_1 block32 "> <p><h1>Как это работает</h1></p><br>
<br><br>
1. Звоните или пишите в <a href="viber://chat?number=+375292222759" class="osn_link"><u>Viber</u></a> на номер +375 29 2222 759.
<br><br>
2. Мы берем свои <a href="/cat" class="osn_link"><u>каталоги</u>.</a>
<br><br>
3. Выезжаем к вам на обговоренный адрес или кладбище.
<br><br>
4. Замеряем место для комплекса.
<br><br>
5. Рисуем эскиз или 3д модель.
<br><br>
6. Приезжаем к вам на согласование модели.
<br><br>
7. Приезжаем к вам для заключения договора.
<br><br>
8. Приступаем к изготовлению
<br><br>
9. Сообщаем вам о изготовлении, назначаем дату монтажа, монтируем, расчитываемся.


</div>














</div>

	
	
	</div>
	

	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
        {% endblock %}