{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="aks">
    {% for section in gallery %}
    <div class="General_aks">
        <div class="aks_name">{{ section.display_name }}</div>
        <div class="aks_catalog" id="container{{ forloop.counter }}">
            <!-- Внутренний цикл -->
            {% for image in section.images %}
                <div class="aks_box aks_box_img obj_box {% if forloop.counter > 5 %}hidden{% endif %}"
                     style="background-image: url('{% static "main/img/DRUG/" %}{{ base_folder }}/{{ section.folder }}/{{ image }}');"
                     onclick="openModal('container{{ forloop.parentloop.counter }}', '{% static "main/img/DRUG/" %}{{ base_folder }}/{{ section.folder }}/{{ image }}')">
                    <div class="image-name">{{ image }}</div>
                </div>
            {% endfor %}
            {% if section.images|length > 5 %}
                <div id="el{{ forloop.counter }}" class="aks_osn aks_osn2" onclick="toggleBlocks('container{{ forloop.counter }}')">
                    <p class="toggle-btn">ПОКАЗАТЬ ВСЕ</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}


{% include 'main/_modal.html' %}

{% block extra_js %}
    <script src="{% static 'main/js/photo_gallery.js' %}"></script>
{% endblock %}
<script>

</script>
{% endblock %}
