{% load static %}

 <meta charset="UTF-8">


	

  
	
	
	
	
	
	
	
<div class="block1">
	<div class="slidenad1">
		<div class="slide1"> <img src="{%static 'main/img/602.jpg'%}" alt="SVG Image" width="100%"></div>
		<div class="textnad"><p>Человек способный двигать горы, начинает с маленьких камней<br><br><br><br>
			
			</p></div>
	
	
	</div>
	<div class="slidenad2">
		<div class="slide2"><p>Надгробия и памятники в Гродно и гродненской области</p></div>
	
	
	</div></div>
	
	<div class="block2">
		<div class="block2v">
		
		
		<div class="con1">
		
		<a href="/cat">
			
			<div class="img i1"></div>
			<div class="text1">Наш каталог</div>
			<div class="text2">Тут вы можете ознакомиться с нашей продуктцией и продукцией наших партнеров в формате каталога.</div>
			
			
		</a>
		
		
		
		</div>
		<div class="con1">
		
		<a href="/model">
			
			<div class="img i2"></div>
			<div class="text1">3D модели</div>
			<div class="text2">В этом разделе вы найдете наши новые 3D модели.</div>
			
			
		</a>
		
		
		
		</div>
		<div class="con1">
		
		<a href="https://yandex.by/maps/org/pangran/102719256503/?ll=23.818075%2C53.711040&z=16.12">
			
			<div class="img i3"></div>
			<div class="text1">Филиалы PANGRAN</div>
			<div class="text2">Проконсультируйтесь в одном из наших филиалов.</div>
			
			
		</a>
		
		
		
		</div>
	
		
			<div class="con2">
				<div class="t1">
					<div class="line"></div>
					<div class="vnt1">Запишитесь на встречу или задайте нам вопрос</div>
					<div class="line"></div>
				</div>
			
				<div class="contact">
					<a href="tel:+375292222759"><img src="{%static 'main/svg/1-01.svg'%}" alt="3"></a>
					<a href="tel:+375292222769"><img src="{%static 'main/svg/num 2.svg'%}" alt="3"></a>
					<a href="viber://chat?number=+375292222759"><img src="{%static 'main/svg/1-02.svg'%}" alt="3"></a>
					<a href="https://www.instagram.com/pangran_grodno/"><img src="{%static 'main/svg/1-03.svg'%}" alt="3"></a>
				</div>
			
			</div>
		
		</div>
	
	
	</div>
	
	<div class="block3"> 
		
		<div class="block3_1">Фирма Pangran является компанией с многолетним опытом работы в индустрии надгробных памятников.
			<br><br>
			Наша сила заключается в сочетании мастерства и художественного дизайна. Мы, команда компании Пангран, создаём место памяти с индивидуальным и персональным дизайном надгробия на могиле вашего покойного.

<br><br>
			Памятники Pangran изготавливаются из гранита. В дополнение к высокой устойчивости к атмосферным воздействиям гранит характеризуется отличной полируемостью и поэтому является идеальным материалом для надгробий. 
		
		
		</div>
		<div class="block3_1">
		
		Гранит является природным камнем и встречается в природе в самых разных формах. Определенные металлы или минералы, содержащиеся в граните, придают разным типам гранита разные цвета и интенсивность цвета.
<br><br>
На нашей выставке вы сможете ознакомиться с многочисленными видами гранита, из которых мы изготавливаем современные и классические надгробия, а также надгробные кресты и надгробные плиты.
<br><br>
Наш гранит, мы получаем из Китая, Индии и Польши.</div>
	
	
	
	
	</div>
	
	<div class="block3"> 
		
		<div class="block3_1">
		Наше мобильное бюро <br><br>
		<div class="box_h"><div class="block3_1_img mb"></div></div> <br>
			Используйте все преимущества нашего мобильного офиса.<br><br>
			
			<a href="/about_mo" class="osn_link"><div class="d1"><hr class="hr1"><div>узнать подробности</div> </div></a>
		</div>
		
	<div class="block3_1">
		О нашем производстве <br><br>
		<div class="box_h"><div class="block3_1_img pr"></div></div> <br>
			Довольные клиенты и первоклассное качество.<br><br>
			<a href="/about" class="osn_link"><div class="d1"><hr class="hr1"><div>узнать больше</div> </div></a>
		</div>
		
	
	
	
	</div>
	
	
		<div class="block3 block3back"> 
		
		<div class="block3_1 block32"> <p><h1>Процесс заказа</h1></p><br>

В начале важно, чтобы вы подумали о том, каким должно быть надгробие и как оно должно выглядеть. Вы можете получить вдохновение на нашем сайте или запросить наш бесплатный каталог.
<br><br>
Если у вас есть представление о том, как должен выглядеть ваш памятный камень, или вам все еще нужна помощь с выбором, вы можете назначить нам встречу.
<br><br>
Во время консультации мы еще раз ответим на ваши пожелания и идеи и создадим подробный эскиз всей системы. Обсуждаются точные детали, такие как форма надгробия, тип и исполнение надписи и другие детали. Мы предлагаем надгробные украшения из бронзы, алюминия


и нержавеющей стали. При желании к надгробию также можно прикрепить медальон или керамическую фотографию.


</div>





<div class="block3_1 block32"> <p><h1>Сроки поставки и строительство</h1></p><br>

В запланированный вами могильный комплекс могут быть внесены изменения. <br><br>По этой причине мы закажем вашу могилу только после получения разрешения от администрации кладбища. С этого момента срок доставки занимает около 3 месяцев. Если прибытие вашего надгробия предвидится, мы готовим фундамент на месте

захоронения, чтобы можно было установить надгробие. <br><br>Наиболее распространенным типом является свайный фундамент в виде фундамента глубокого заложения. После получения надгробия мы назначим встречу на кладбище для установки надгробия и сообщим вам об этом. Мы лично берем на себя всю настройку.
<br><br>
</div></div>
<style>


        .form-container {
           
            
          
            
            width: 70vw;
            
			margin-left: 15vw;
			margin-bottom: 2vw;
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #FFFFFF;
        }

        .form-container label {
            display: block;
            margin-bottom: 8px;
            color: #FFFFFF;
        }

        .form-container input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-container button[type="submit"] {
			margin-top: 1vw;
            width: 100%;
            padding: 1vw;
            background-color: #e2c278;
            border: none;
            color: black;
            border-radius: 5px;
            font-size: 1vw;
            cursor: pointer;
			transition: 0.1s ease;
        }

        .form-container button[type="submit"]:hover {
            background-color: #4e4e57;
			color: white;
        }

        .success-message {
            text-align: center;
            color: green;
        }
	input{
		background: #4e4e57;
		color: wheat;
	}
    </style>


<div class="form-container">
        <h2>Закажите звонок</h2>
        <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            <label for="id_full_name">ФИО:</label>
            <input type="text" name="full_name" id="id_full_name" required>

            <label for="id_phone">Номер телефона:</label>
            <input type="text" name="phone" id="id_phone" required>

            <button type="submit">Отправить</button>
        </form>

    </div>




	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	