{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="aks">
    <div class="General_aks">
        <div class="aks_name">
            3D МОДЕЛИ
            <div class="svg_360"></div>
        </div>
        <div class="aks_catalog" id="container1">
            {% for folder in folders %}
                <div class="aks_box aks_box_img obj_box }"
                     style="background-image: url('{% static "main/img/360/" %}{{ folder }}/17.webp');"
                     onclick="openModal('container1', '{% static 'main/img/360/' %}{{ folder }}/17.webp', '{{ folder }}')">
                    <div class="image-name">{{ folder }}</div>
                </div>
            {% endfor %}


        </div>
    </div>
</div>



{% include 'main/_modal.html' %}






{% endblock %}

