{% extends 'main/base.html' %}
 {% block content %}
 
<div class="pam_2">
	
	
	<div class="gr1">
	
	<div>
	<div class="d2">Цветники</div><br>
	Одиночный памятник является символом памяти о близком человеке, поэтому он должен отражать его характер и личность. Для нас крайне важен индивидуальный подход к дизайну памятника. Символы, часто используемые в мемориалах, могут многое рассказать о человеке и его предпочтениях без необходимости в словах. Существует множество воспоминаний, которые можно выразить через символы и знаки на надгробной плите, подчеркивая глубокую связь между скорбящими и ушедшими.
	<div class="butn">
					<a href="/zv_model"> Все цветники </a>
					
				</div>
	</div>
	
	
	<div class="pimg od_img">img</div>
	
	
</div><hr class="hr2">
	
<div class="gr1">
	
	<div>
	<div class="d2">Одиночные</div><br>
	Одиночный памятник является символом памяти о близком человеке, поэтому он должен отражать его характер и личность. Для нас крайне важен индивидуальный подход к дизайну памятника. Символы, часто используемые в мемориалах, могут многое рассказать о человеке и его предпочтениях без необходимости в словах. Существует множество воспоминаний, которые можно выразить через символы и знаки на надгробной плите, подчеркивая глубокую связь между скорбящими и ушедшими.
	<div class="butn">
					<a href="/od_model"> Все одиночные памятники </a>
					
				</div>
	</div>
	
	
	<div class="pimg od_img">img</div>
	
	
</div><hr class="hr2">

	
	
	<div class="gr1">
	
	<div>
	<div class="d2">Полуторные</div><br>
	Двойная или семейная могила объединяет двух или более людей после их ухода, символизируя тем самым прочную связь. Здесь также можно использовать символы, которые отражают индивидуальные особенности усопших или подчеркивают идею единства. При выборе надгробия для семейной могилы особенно важен тот факт, что оно должно служить из поколения в поколение. Чтобы оно было не только достойным, но и вне времени, необходим грамотный совет. Мы всегда готовы помочь вам в этом!
	<div class="butn">
					<a href="/pol_model"> Все полуторные памятники </a>
					
				</div>
	</div>
	
	
	<div class="pimg dp_img">img</div>
	
	
</div><hr class="hr2">
	
	<div class="gr1">
	
	<div>
	<div class="d2">Двойные</div><br>
	Памятники по индивидуальным заказам создаются с учётом ваших пожеланий и уникальных черт ушедшего человека. Каждый такой памятник становится не просто объектом мемориала, но и важным символом, который отражает личность, историю жизни и предпочтения усопшего. Мы предлагаем не только стандартные решения, но и возможность создать уникальные памятники, которые будут по-настоящему значимы для вас и вашей семьи. Включая колумбарии — места для хранения урн с прахом, — мы поможем подобрать подходящий вариант, который будет гармонично вписываться в пространство и символизировать вечную память. Наши специалисты предложат лучшие решения, которые соответствуют вашему видению и остаются актуальными на многие годы.
	<div class="butn">
					<a href="/dv_model"> Все двойные памятники </a>
					
				</div>
	</div>
	
	
	<div class="pimg ip_img">img</div>
	
	
</div>
	<div class="gr1">
	
	<div>
	<div class="d2">Эксклюзивные</div><br>
	Памятники по индивидуальным заказам создаются с учётом ваших пожеланий и уникальных черт ушедшего человека. Каждый такой памятник становится не просто объектом мемориала, но и важным символом, который отражает личность, историю жизни и предпочтения усопшего. Мы предлагаем не только стандартные решения, но и возможность создать уникальные памятники, которые будут по-настоящему значимы для вас и вашей семьи. Включая колумбарии — места для хранения урн с прахом, — мы поможем подобрать подходящий вариант, который будет гармонично вписываться в пространство и символизировать вечную память. Наши специалисты предложат лучшие решения, которые соответствуют вашему видению и остаются актуальными на многие годы.
	<div class="butn">
					<a href="/vip_model"> Все эксклюзивные памятники </a>
					
				</div>
	</div>
	
	
	<div class="pimg ip_img">img</div>
	
	
</div>
	
	
	
	
	</div>

        {% endblock %}