{% extends 'main/base.html' %}
 {% block content %}

  <div class="pam_osn_do"></div>

<div class="pam_osn_block_0">

  <div class="pam_osn_block_1">
        <div class="pam_osn_block_2" onclick="window.location.href = '/model'">
            <div class="overlay-area_360">
                <div class="block_background block_background_for_360_1"></div>
                <div class="block_background_for_360_2"></div>
            </div>
            <div class="block_name">3D МОДЕЛИ</div>
        </div>



      <div class="pam_osn_block_2" onclick="window.location.href = '/zv_model'"><div class="block_background block_background_2"></div><div class="block_name">ЦВЕТНИКИ</div></div>
        <div class="pam_osn_block_2" onclick="window.location.href = '/od_model'"><div class="block_background block_background_3"></div><div class="block_name">ОДИНОЧНЫЕ</div></div>
        <div class="pam_osn_block_2" onclick="window.location.href = '/pol_model'"><div class="block_background block_background_4"></div><div class="block_name">ПОЛУТОРНЫЕ</div></div>
        <div class="pam_osn_block_2" onclick="window.location.href = '/dv_model'"><div class="block_background block_background_5"></div><div class="block_name">ДВОЙНЫЕ</div></div>
        <div class="pam_osn_block_2" onclick="window.location.href = '/vip_model'"><div class="block_background block_background_6"></div><div class="block_name">ЭКСКЛЮЗИВНЫЕ</div></div>
  </div>
</div>
        {% endblock %}