.block_background_got_1 {background-image: url("/static/main/img/PAM_got_prev/1.webp");}
.block_background_got_2 {background-image: url("/static/main/img/PAM_got_prev/2.webp");}
.block_background_got_3 {background-image: url("/static/main/img/PAM_got_prev/3.webp");}
.block_background_got_4 {background-image: url("/static/main/img/PAM_got_prev/4.webp");}
.block_background_got_5 {background-image: url("/static/main/img/PAM_got_prev/5.webp");}